<h1>Click a Billboard to view</h1>
<%= link_to 'Add a New Billboard', new_billboard_path %>
<hr />
<ul>
  <% @billboards.each do |billboard| %>
    <li><%= link_to billboard.name, billboard_path(billboard) %></li>
    <% end %>
</ul>
