<h1><%= @billboard.name %></h1>
<hr />
<p>What would you like to do?</p>
<br />
<%= link_to 'View Billboards', billboard_path(@billboard) %>
<br />
<%= link_to 'Edit Billboards', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete Billboards', billboard_path(@billboard), method: :delete %>
